---
version: 1
interactions:
- request:
    body: '{"region":"us-east"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips
    method: POST
  response:
    body: '{"address": "172.104.17.6", "gateway": "172.104.17.1", "subnet_mask": "255.255.255.0",
      "prefix": 24, "type": "ipv4", "public": true, "rdns": "172-104-17-6.ip.linodeusercontent.com",
      "linode_id": null, "region": "us-east", "vpc_nat_1_1": null, "reserved": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"reserved":true,"region":"us-east"}'
    url: https://api.linode.com/v4beta/networking/ips?page=1
    method: GET
  response:
    body: '{"page": 1, "pages": 1, "results": 2, "data": [{"address": "172.104.17.6",
      "gateway": "172.104.17.1", "subnet_mask": "255.255.255.0", "prefix": 24, "type":
      "ipv4", "public": true, "rdns": "172-104-17-6.ip.linodeusercontent.com", "linode_id":
      null, "region": "us-east", "vpc_nat_1_1": null, "reserved": true}, {"address":
      "172.104.17.165", "gateway": "172.104.17.1", "subnet_mask": "255.255.255.0",
      "prefix": 24, "type": "ipv4", "public": true, "rdns": "172-104-17-165.ip.linodeusercontent.com",
      "linode_id": null, "region": "us-east", "vpc_nat_1_1": null, "reserved": true}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips/172.104.17.6
    method: DELETE
  response:
    body: '{"errors": [{"reason": "Too many requests"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "5"
    status: 429 Too Many Requests
    code: 429
    duration: ""
[...]
