---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "Disk Encryption", "Backups", "NodeBalancers", "Block Storage",
      "GPU Linodes", "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations",
      "Managed Databases", "Metadata", "Placement Group"], "status": "ok", "resolvers":
      {"ipv4": "172.105.34.5, 172.105.35.5, 172.105.36.5, 172.105.37.5, 172.105.38.5,
      172.105.39.5, 172.105.40.5, 172.105.41.5, 172.105.42.5, 172.105.43.5", "ipv6":
      "1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678"}, "placement_group_limits": {"maximum_pgs_per_customer":
      null, "maximum_linodes_per_pg": 5}, "site_type": "core"}, {"id": "ca-central",
      "label": "Toronto, CA", "country": "ca", "capabilities": ["Linodes", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Kubernetes", "Cloud Firewall",
      "Vlans", "Block Storage Migrations", "Managed Databases", "Metadata", "Placement
      Group"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5, 172.105.3.5, 172.105.4.5,
      172.105.5.5, 172.105.6.5, 172.105.7.5, 172.105.8.5, 172.105.9.5, 172.105.10.5,
      172.105.11.5", "ipv6"[...]
- request:
    body: '{"region":"ap-west","type":"g6-nanode-1","label":"go-test-ins-wo-disk-4m95fk7pqv02","firewall_id":935922,"booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 64483295, "label": "go-test-ins-wo-disk-4m95fk7pqv02", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.105.54.11"], "ipv6": "1234::5678/128",
      "image": null, "region": "ap-west", "site_type": "core", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": true, "available": false, "schedule": {"day": null, "window":
      null}, "last_successful": null}, "hypervisor": "kvm", "watchdog_enabled": true,
      "tags": [], "host_uuid": "7ed22e881809e224518f3e55ce185e85c26c24f0", "has_user_data":
      false, "placement_group": null, "disk_encryption": "enabled", "lke_cluster_id":
      null, "capabilities": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-j4e1j55r9bt8","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/64483295/configs
    method: POST
  response:
    body: '{"id": 67760966, "label": "go-test-conf-j4e1j55r9bt8", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/64483295
    method: GET
  response:
    body: '{"id": 64483295, "label": "go-test-ins-wo-disk-4m95fk7pqv02", "group":
      "", "status": "offline", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.105.54.11"], "ipv6": "1234::5678/128",
      "image": null, "region": "ap-west", "site_type": "core", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": true, "available": false, "schedule": {"day": "Scheduling",
      "window": "Scheduling"}, "last_successful": null}, "hypervisor": "kvm", "watchdog_enabled":
      true, "tags": [], "host_uuid": "7ed22e881809e224518f3e55ce185e85c26c24f0", "has_user_data":
      false, "placement_group": null, "disk_encryption": "enabled", "lke_cluster_id":
      null, "capabilities": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"disk_imagize","created":{"+gte":"2018-01-02T03:04:05"},"entity.id":64483246,"entity.type":"linode"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 848706230, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": 74, "time_remaining": null, "rate": null,
      "duration": 31.389321, "action": "disk_imagize", "username": "lgarber-dev",
      "entity": {"label": "go-test-ins-lm8x8s0g8v32", "id": 64483246, "type": "linode",
      "url": "/v4/linode/instances/64483246"}, "status": "started", "secondary_entity":
      {"id": 27493840, "type": "image", "label": "go-test-image-p177m5fgb1a4", "url":
      "/v4/images/private/27493840"}, "message": ""}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"go-disk-test-4pe9afl6w186","size":2000,"image":"private/27493840","root_pass":"ALjFg[02\u003ci0fLIx6^]wJ?471041=pc6cw[u:#E31fzDk/V,$Y\u003eAv/A30\u003e)4ZDQZm"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/64483295/disks
    method: POST
  response:
    body: '{"id": 126184358, "status": "not ready", "label": "go-disk-test-4pe9afl6w186",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 1057, "disk_encryption": "enabled"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-disk-test-slwgu75d9623","size":2000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/64483295/disks
    method: POST
  response:
    body: '{"errors": [{"reason": "Linode busy."}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/64483295/disks?page=1
    method: GET
  response:
    body: '{"data": [{"id": 126184358, "status": "ready", "label": "go-disk-test-4pe9afl6w186",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 2000, "disk_encryption": "enabled"}, {"id": 126184408, "status":
      "not ready", "label": "go-disk-test-slwgu75d9623", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "filesystem": "ext4", "size": 2000, "disk_encryption":
      "enabled"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
